BODY {
	BACKGROUND-POSITION: center 50%;
}

HTML {
	TEXT-DECORATION: none
}

BODY {
	FONT-SIZE: 12px;
	COLOR: #000000;
}

TD {
	FONT-SIZE: 12px;
	COLOR: #000000;
}

TD {
	FONT-SIZE: 12px;
	COLOR: #000000
}

TR {
	FONT-SIZE: 12px;
	COLOR: #000000
}

A:link {
	FONT-SIZE: 12px;

	TEXT-DECORATION: none
}

A:visited {
	FONT-SIZE: 12px;

	TEXT-DECORATION: none
}

A {
	FONT-SIZE: 12px;

}

.width10 {
	width: 10%;
}

.width15 {
	width: 15%;
}

.width20 {
	width: 20%;
}

.width25 {
	width: 25%;
}

.width30 {
	width: 30%;
}

.width40 {
	width: 40%;
}

.width50 {
	width: 50%;
}

.width60 {
	width: 60%;
}

.width70 {
	width: 70%;
}

.width75 {
	width: 75%;
}

.width80 {
	width: 80%;
}

.width90 {
	width: 90%;
}

.width100 {
	width: 100%;
}

.width20px{
	width: 20px;	
}

.width40px{
	width: 40px;	
}

.width60px{
	width: 60px;	
}

.width80px{
	width: 80px;	
}

.width100px{
	width: 100px;	
}

.width120px{
	width: 120px;	
}

.width140px{
	width: 140px;	
}

body, p, b, dl, dd, input, img, form, div, ul, li, h1, h2, h3, h4, h5,
	table, tr, td, h6, em {
	margin: 0;
	padding: 0;
	border: 0;
	margin: 0px auto;
	
}

body {
	font-family: Arial, sans-serif;
	
}

.close {
	font: bold 30px/100% Arial, Helvetica, sans-serif;
	opacity: .8;
	border-radius: .4em;
	position: relative;
}

.close:hover {
	text-decoration: none;
	opacity: .5;
}

.close:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.header {
	background: #1E90FF;
	height: 50px;
	position: relative;
	width: 1250px;
	margin: 0px auto;
}

.header figure {
	float: left;
	margin-top: 5px;
	position: relative
}

.header .logo {
	font-size: 34px;
	color: #fff;
	padding-left: 45px;
	text-decoration: none;
}

.header .sinput {
	border-radius: .4em;
	position: absolute;
	right: 35px;
	width: 200px;
	height: 36px;
	font-size: 14px;
	color: gray;
	border-right: 1px solid #1E90FF;
}

.header .search {
	border-radius: .4em;
	position: absolute;
	left: 530px;
	top: 6px;
	width: 36px;
	height: 36px;
	background-color: #fff;
	background-size: 15px 15px;
	background-position: center center;
}

.header .search-btn {
	position: absolute;
	top: 10px;

}

.header .search-btn:HOVER {
	position: absolute;
	opacity: .7;
}

.search-btn {
	width: 30px;
	height: 30px;
	left:2px;
	margin-left:10px; 
}

.header .navigat {
	width: 680px;
	height: 50px;
	left:  60px;
	right: 30px;
	float: right;
	position: relative;
	overflow: hidden;
	line-height: 50px;
	list-style-type: none;
}

.navigat li:hover {	
	height: 49px;
	background-color: #1E9cFF;
	line-height: 50px;
}

.logout_info li:hover {	
	
	height: 49px;
	background-color: #1E9cFF;
	line-height: 50px;
	color: write;
}

.navigat li {
	float: left;
	margin: 2px 10px;
}

.header .nav-item .nav-link {
	height: 50px;
	padding: 10px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

.nav-link {
	height: 50px;
	padding-left: 10px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}



.header .nav-item:hover {
	
}

#user_info {
	position: absolute;
	right: 30px;
	color: #fff;
}

#user_info .login_info li {	
	height: 49px;
	background-color: #1E90FF;
	line-height: 50px;
}

#user_info li:hover {	
	height: 49px;
	background-color: #1E9cFF;
	line-height: 50px;
}


.usermessage:hover {

}

#user_info .login_info a {
	font-size: 18px
}

#user_info .logout_info li {
	margin-right: 100px;
	height: 50px;
	line-height: 50px;
}

#user_info .logout_info li:hover {

}

#user_info .logout_info a {
	font-size: 18px
}

.usermessage {
	color: #fff;
}

#login{
	height: 49px;
	color: #fff;
	text-decoration: none;
	
	line-height: 50px;
}

#user_info ul {
	list-style-type: none
}

#user_info li {
	float: left;
}

#orderfoot {
	background: #1E90FF;
	height: 60px;
	
	
	width: 1250px;
	color: white;
	margin:0px auto;

}

#orderfoot li {
	float: left;
	list-style-type: none;
	margin-left: 150px;
	height: auto;
	line-height: 60px;
	color: white;
}

#orderfoot a {
	color: white;
	
}

.index_body {
	height: auto;
	min-height: 480px;
}

.index_body_box {
	border-left: 1px solid #E0EEEE;
	border-right: 1px solid #E0EEEE;
	min-height: 480px;
	width: 1248px;
	padding-top: 60px;
}

.index_dishes_type {
	padding: 0;
	height: 100px;
}

.index_dishes_type table {
	padding: 0;
	margin-top: 0;
	height: 100%;
	width: 1250px;
}

.index_dishes_type td {
	text-align: center;
}

.index_dishes_type select {
	width: 140px;
	height: 30%;
	outline: #E0FFFF;
}


#index_dishes_random {
	width:  100px;
	height: 30px;
	background-color: #1E90FF;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: bold 20px/100% Arial, Helvetica, sans-serif;
	margin: 1px auto;
	padding: 2px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	color: #fff;
}

#index_dishes_random:HOVER {
	text-decoration: none;
	opacity: .7;
}

#index_dishes_random:ACTIVE {
	position: relative;
	top: 2px;
	left: 2px;
}

.index_dishes_orderbutton {
	border-top: 1px solid #E0EEEE;
	border-bottom: 1px solid #E0EEEE;
	height: 34px;
}

.index_dishes_orderbutton table {
	margin-left: 80px;
	height: 30px;
}

.index_dishes_orderbutton td {
	height: 30px;
	width: 160px;
	
}

.index_show_dishes {
	height: auto;
	min-height: 480px;
}

.btn {
	width: 120px;
	height: auto;
	background-color: #1E90FF;
	color: white;
	border-radius: 20px;
}

.btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: bold 16px/140% Arial, Helvetica, sans-serif;
	margin: 1px auto;
	padding: 2px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .4em; -moz-border-radius : .4em; border-radius :
	.4em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-border-radius: .4em;
	border-radius: 20px;
	color: white;
	
}

.btn:hover {
	text-decoration: none;
	opacity: .7;
	color: white;
}

.btn-default:hover{
	background-color: #1E90FF;
	
}

.btn.focus, .btn:focus, .btn:hover {

}
.btn:active {
	position: relative;
	color: white;
	top: 2px;
	left: 2px;
}

.index_show_dishes {
	width: 1050px;
	min-height:300px;
	margin-left:50px;
	height: auto;
}

.show_dishes_table {
	border: 1px solid #E0EEEE;
	height: auto;
	width: 100%;
}

.inner_show_dishes {
	border: 1px solid #E0EEEE;
	height: auto;
	width: 250px;
	margin: 5px;
}

.inner_show_dishes td {
	width: 120px;
	text-align: center;
}

.dishes_click_btn {
	width: 50px;
	height: 20px;
	padding: 0;
	margin: 0;
}

.dishes_click_btn:ACTIVE {
	position: relative;
	top: 1px;
	left: 1px;
}

.float_dishes table {
	float: left;
}

.float_dishes{

}

.clear {
	clear: both;
}

.dishes_picture {
	width: 120px;
	height: 120px;
}

.dishes_pic {
	width: 110px;
	height: 90px;
}

.height50 {
	height: 50px;
}

.fonsi {
	font: bold 40px/100% Arial, Helvetica, sans-serif;
}

#show_random_details table {
	border: 1px solid #E0EEEE;
	height : auto;
	width: 300px;
	padding: 0;
	margin: 0;
	height: auto;
}

.inner_show_dishes_td {
	width: 120px;
	height: 120px;
}

.all_show_table {
	background-color: #F0FEF0;
}

#show_random_details {
	margin: 0;
	padding: 0;
	height: 90px;
	width: 302px;
}

.alert_bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.6;
	margin: auto;
	z-index: 1049;
	display: none;
}

#index_dishes_random_btn {
	width: 150px;
	height: 46px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border: none;
	
}

#index_dishes_random_btn:HOVER {
	text-decoration: none;
	opacity: .7;
}

.fade.in {
	opacity: 1;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.modal_dialog {
	width: 600px;
	margin: 10% auto;
}

.modal_content {
	background-color: #E0EEEE;
	border-radius: .4em;
	position: relative;
	width: 600px;
	height: 300px;
	margin: 10px;
	overflow: auto;
}

.modal_footer {
	background-color: #E0EEEE;
	border-radius: .4em;
	position: relative;
	width: 100px;
	margin: 0px auto;
}

.modal_header {
	top: 30px;
	left: 250px;
}

.modal_title {
	float: right;
	margin-left: 220px;
	font: bold 30px/100% Arial, Helvetica, sans-serif;
}

.mh4 {
	color: #FF0000;
}

.form_id {
	font: bold 20px/100% Arial, Helvetica, sans-serif;
	overflow-y:scroll;
	min-height: 200px;
	margin-left: 50px;
	height: 200px;
}

.selected_boy {
	color: red;
}

.type_sure{
	width: 80px;
	height: 46px;
}

.nav-merchant{
	height: 50px;
	padding-left: 20px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}


.bar_one{
	font: bold 20px/100% Arial, Helvetica, sans-serif;
}

.bar_one a{
	padding: 5px 5px;
	font: bold 10px/100% Arial, Helvetica, sans-serif;

}

.bar_one a:HOVER {
	padding: 5px 5px;
	background-color: #CCC;
}

.merchant_name{
	text-align:center;
	font: bold 15px/100% Arial, Helvetica, sans-serif;
}

.inner_show_dishes:HOVER{
	position: relative;
	top: 1px;
	left: 1px;
	background-color: #e7e7e7;
}

.type_checked{
	background-color:#0089DC;
	color:#fff;
}

.type_blur{
	background-color:none;
	color: #666;
}

.show_type_checked{
	color:#ff321c;
}

#captcha{
	width: 150px;
	font-size:  15px;
}

.letter input{
	width: 230px;
	line-height: 28px;
}


.btn_personal{

}

.btn_logout{

}

.user_menu{
	
}

.title_btn{
	color: white;
}

.title_btn:HOVER{
	color: white;
	
}

.usermessage_pic{
	margin-top: 4px;
}

.user_test{
	height: 49px;
	margin-right: 10px;
	color: white;
}

.merchant_show_table{
	width:220px;
	text-align: center;
}

.title_checked_now {
	height: 49px;
	background-color: #1E9cFF;
	line-height: 50px;	
}

.order_active {
	color: white;
	background-color: #1Ea8FF;
	
}

.order_active  table{
	margin-left: 0px;
	
}

a.list-group-item:hover, a.list-group-item:focus {
	text-decoration: none;
	background-color: #1Ea8FF;
	color: white;
}

.list-group-item:first-child {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px
}

a.list-group-item {
	color: #555;
	border-radius: 10px;
}

.list-group-item-text {
	font: bold 20px/100% Arial, Helvetica, sans-serif;
	text-align:left;
}

.order_active .list-group-item-text {
	color: white;
}

.list-group {
	
	font: bold 20px/100% Arial, Helvetica, sans-serif;
}

.float_list{
	height: auto;
}

.merchant_name {
	text-align: left;
}

.order_list_things {
	position: relative;
	left: 300px;
	
}

.list-group-item-text a{
	text-decoration:none;
	font: bold 20px/100% Arial, Helvetica, sans-serif;
	color: white;
}

.list-order-table{
	border: 1px solid red;
	font: bold 20px/100% Arial, Helvetica, sans-serif;
	color: white;
	width:90%;
	height: auto;
}

.list-order-table tr,.list-order-table td{
	font: bold 20px/100% Arial, Helvetica, sans-serif;
	color: white;
	border: 1px solid red;
}

.modal-title{
	font: bold 24px/100% Arial, Helvetica, sans-serif;
	text-align: center;	
}

.modal-body{
	height: 230px;
}

.merchant_show_table{
	width:220px;
	text-align: center;
}
.manage_btn{
	padding: 0;
	float: left;
	position: relative;
	left: 30px;
	top: 150px;
	margin-left: 0px;
	width: 100px;
	
}

.nav-pills>li.active>a{
	color: white;
	background-color: #1Ea8FF;
	width: 100%;
}

.nav>li>a {
    text-decoration: none;
    background-color: white;
	color: black;
	padding: 10px;
	text-align: center;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #ccc;
}

.manage_active{
	border-radius: 5px;

}

.manage_body{
	border: 1px solid red;
	min-height: 400px;
	margin-left: 60px;
	
}

.nav{
	position: fixed;
	top: 40%;
	padding: 10px;
	text-align: center;
	width: 100px;
	font: bold 24px/100% Arial, Helvetica, sans-serif;
}

.product{
	margin: 5px 0px 5px 0px;
	padding:5px;
	width: 260px;
}

.product table{
	border:1px solid #E5D1E1;
	width: 245px;
}

.product tr,.product td{
	padding:5px;
}

.dishes_price em{
	color: red;
	font-weight:700;
	font-size:14px;
	line-height:20px;
}

.dishes_price img{
	margin-bottom:2px;
	padding:0;
	width:8px;
	height:8px;
}

.btn-primary{
	width: 80px;
	font: bold 12px/100% Arial, Helvetica, sans-serif;
	padding: 2px;
	border-radius: 10px;
}

.show_float_dishes{
	float: left;
}

.shop_cart{
	padding: 0;
	float: right;
	position: fixed;
	right: -60px;
	bottom:0px;
	width: 260px;
	height: 50px;
	background-color: #1Ea8FF;
}

.pic_cart{
	margin: 10px;
	width: 30px;
	height: 30px;
	margin-right: 3px;
}

.pic_yen{
	margin-right: 2px;
	width: 16px;
	height: 16px;

}

.shop_fee{
	position: relative;
	top: -68px;
	left: 60px;
	margin: 0px auto;
	line-height: 50px;
	margin-top: 20px;
	font-size: 18px;
	color: white;
}

.badge{
	display:block;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 22px;
	background-color: #FC030B;
	position: relative;
	top: -48px;
	left: 28px;
}

#priceTotal{
	font: bold 18px/100% Arial, Helvetica, sans-serif;
	color: red;
}

.currency{
	color: red;
}

.user_shop_cart{
 	height: auto;
}

.user_shop_cart .delete{
	width: 40px;
	background-color: white;
	color: #1Ea8FF;
	border: 0;
	text-decoration: none;
	font: bold 30px/100% Arial, Helvetica, sans-serif;
	text-align: center;
}

.user_shop_cart .delete:hover{
	cursor: pointer;
	opacity: .7;
}

.user_shop_cart .delete:active{
	opacity: .7;
}

.operation{
	
}

.input-group{
	position: relative;
    display: block;
    border-collapse: separate;
}

.minus{
	margin-left: 25%;	
}

.input-group input{
	height: 29px;
	width: 32px;
	margin:0;
	vertical-align: middle;
	border-radius: 4px;
	border:1px solid #E5E5E5;
}

.total{
	margin-top: -10px;
}

.small-bold-red{
	text-align: center;
	font: bold 18px/100% Arial, Helvetica, sans-serif;
	color:red;
}

.table>thead>tr>td{
	border-top: 0;
	margin-top: 2px;
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 0;
	text-align: center;
}

.input-group-addon:active{
	position: relative;
	top: 1px;
	left: 1px;
}

.number{
	width: 20%;
	margin: 0px auto;
	text-align:center;
}



.login {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.login {
	background-color: #1E90FF;
	padding: 10px;
	border: #c0c0c0 1px solid;
}

.xxx {
	text-align: center;
}

table {
	border-collapse: collapse;
	border-spacing:0;
}